*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
   margin: 0 !important;
   padding: 0 !important;
   width: 100vw !important;
   display: flex;
   flex-direction: row;
   font-family: 'Inter', sans-serif;
}


.imagen img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/* =================================NAVBAR=================================================== */
.navbar-nav {
   display: flex;
   justify-content: center;
   gap: 60px;
   width: 100%;
   font-size: 20px;
   color: var(--main-whitest-color);
   align-items: center;
   background-color: var(--main-darkblue-color);
}

.nav-item a{
   color:#F9F9F9;
}

.navbar-toggler span{
   background-color: #F9F9F9;
}

.otrosL:hover {
   background-color: var(--main-yelllowish-color);
   font-weight: bold;
}
.container-fluid{
   background-color: var(--main-darkblue-color);
}
/* =================================FORMULARIO=================================================== */
.registro{
   margin: 0 auto;
   margin-top: 3rem;
   padding:  1.5rem;
   width: 70%;
   align-content: center;
   
}
.formulario{
   margin-top: 3rem;
   margin-left: 3rem;
   padding:  1.5rem;
   box-shadow: #D9D9D9 3px 4px 5px 4px;
   align-content: center;
   border-radius: 5px;
}






/* =================================FOOTER=================================================== */
 
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20rem;
    background-color: #170E2D;
    color: white;
    padding: 2rem 0; /* */
    text-align: center;
    align-items: center;
 }
 
 h2 {
    font-family: "bellefair-regular";
 }
 
 .footer-title {
    font-size: 3.8rem;
 }
 
 .Redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
 }
 
 .Redes img {
    width: 1.8rem;
 }
 
 .footer-info {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 1rem;
 }
 
 .footer-infotation {
    color: var(--cream);
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 
 