/* ========================================================================================================================================= */
:root {
   --main-whitest-color: #F9F9F9;
   --main-darkblue-color: #170E2D;
   --main-darkbrown-color: #321519;
   --main-redish-color: #E1351F;
   --main-orangeish-color: #E1351F;
   --main-yelllowish-color: #FDC264;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; /* border y paddingn se*/
}

body {
   font-family: "inter";
}
/* ========================================= Navbar =================================*/
#header{
   margin: 0;
}
#logo{
   font-size: 3rem;
   margin-left: 5vw;
}

.navbar-nav {
   display: flex;
   justify-content: center;
   gap: 70px;
   width: 100%;
   font-size: 20px;
}

.otrosL:hover {
   font-weight: bold;
}
.container-fluid{
   background-color: white;
   gap: 2px;
}
/* ==================================================================================== */

.foot {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 20rem;
   background-color: #170E2D;
   color: white;
   /*padding: 2rem 0rem;  */
   text-align: center;
   align-items: center;
}

h2 {
   font-family: "bellefair-regular";
}

.footer-title {
   font-size: 3.8rem;
}

.Redes {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 2rem;
}

.Redes img {
   width: 1.8rem;
}

.footer-info {
   color: var(--white);
   font-size: 1rem;
   margin-bottom: 1rem;
}

.footer-infotation {
   color: var(--cream);
   font-size: 2rem;
   margin-bottom: 1rem;
}

/* ========================================================================================================================================= */

main {
   font-family: "Inter", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5vh 0 5vh 0;
}

.form-label {
   font-size: 15px;
}

form-label {
   text-align: start;
}

col {
   align-items: center;
}

.tituloMain {
   text-align: center;
}

.datos {
   display: flex;
   align-items: center;
   flex-direction: column;
   height: 100%;
}

.contenido {
   display: flex;
   align-items: center;
   gap: 20px;
}

.libros {
   height: 50vh;
   width: 100%;
   border-radius: 30px;
}

#btnEnviar {
   width: 7vw;
   height: 6vh;
   background-color: #E1351F;
   border: none;
}

#contacto,
#telefono {
   font-weight: bold;
}

.campos {
   text-align: left;
}
