:root {
   --main-whitest-color: #F9F9F9;
   --main-darkblue-color: #170E2D;
   --main-darkbrown-color: #321519;
   --main-redish-color: #E1351F;
   --main-orangeish-color: #E1351F;
   --main-yelllowish-color: #FDC264;
}


/* ========================================= Navbar =================================*/

/* ==================================================================================== */
h2 {
   font-family: "bellefair-regular";
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box
}


/*
***************************************
*     Portada Saihon-libros           *
***************************************
*/

 .div-container{
   display: flex;
   flex-direction: row;
   justify-content: end;
   gap: 8vw;
 }
#logo-portada, #libros-portada{
   object-fit: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

#books-img{
   height: 40vh;
}
#logo-img{
   height: 25vh;
}

/*
***************************************
*            Main container           *
***************************************
*/
.main{
   display: grid;
   grid-template-columns: .7fr 3fr;
   background-color: rgb(240, 240, 240);
}

/*ASIDE*/
.aside__genres {
   margin-top: 2.5rem;
   margin-left: 2rem; 
}
.aside__recommendations{
   margin-top: 1rem;
   margin-left: 2rem;
}
.aside__title{
   font-size: 1rem;
   text-align: center;
   
   font-weight: bold;
}

.aside__item{
   list-style: none;
   margin-top: 1rem;
   
}

.aside__link{
   text-decoration: none;
   color: var(--main-darkblue-color);
   padding: .5rem;
   padding-right: 1rem;
}
.aside__link:hover{
   color: var(--main-orangeish-color);
   font-weight: bold;
   background-color: var(--main-whitest-color);
   border-radius: 5px;
   padding-right: 2.5rem;
}

/*SECTION*/
.section{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0.5rem 0.5rem 0 0;
   background-color: var(--main-whitest-color);
   border-radius: .5rem;
   box-shadow: rgb(160, 160, 160) 0px 0px 20px .1px;
   margin-bottom: .5rem;
}

.section__content{
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.section__content h3{
   margin-bottom: 5vh;
}

.carousel-inner{
   width: 90% !important;
}
.carousel-control-prev, .carousel-control-next{
   width: auto !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
   filter: invert(51%) sepia(97%) saturate(4677%) hue-rotate(348deg) brightness(90%) contrast(108%) !important;
}

#carousel-recomendaciones, #carousel-populares, #carousel-tendencias{
   display: flex !important;
   justify-content: center !important;
}

.card{
   border: none !important;
   background-color: var(--main-whitest-color) !important;
}
.container-boton{
   display: flex;
   justify-content: center;
   padding-top: 2vh;
   width: 100%;
}
#ver-recomendaciones, #ver-libro-año, #ver-populares, #ver-tendencias{
   width: auto;
}

.img-card{
   object-fit: contain !important;
   height: 30vh !important;
   width: 100% !important;
}

#card-libro-año{
   margin: 0 20vw;
}
/*
***************************************
*            Main container           *
***************************************
*/


.foot {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 20rem;
   background-color: #170E2D;
   color: white;
   padding: 2rem 0; /* */
   text-align: center;
   align-items: center;
}

h2 {
   font-family: "bellefair-regular";
}

.footer-title {
   font-size: 3.8rem;
}

.Redes {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 2rem;
}

.Redes img {
   width: 1.8rem;
}

.footer-info {
   color: var(--white);
   font-size: 1rem;
   margin-bottom: 1rem;
}

.footer-infotation {
   color: var(--cream);
   font-size: 2rem;
   margin-bottom: 1rem;
}




