/*=============VARIABLES COLORES=================*/
:root{
   --main-whitest-color: #F9F9F9;
   --main-darkblue-color: #170E2D ;
   --main-darkbrown-color: #321519;
   --main-redish-color: #E1351F;
   --main-orangeish-color: #E1351F;
   --main-yelllowish-color: #FDC264;
}

/* ========================================= Navbar =================================*/
#logo{
   font-size: 3.3rem;
   margin-left: 5vw;
   color: var(--main-whitest-color);
}

.navbar-nav {
   display: flex;
   justify-content: center;
   /* gap: 30px; */
   width: 100%;
   font-size: 1.1rem;
   color: var(--main-whitest-color);
   align-items: center;
   background-color: var(--main-darkblue-color);
}

/* Hover */

.nav-item {
   padding: 0 3vw 0 3vw;
   text-align: center;
}


button#bye-tab, button#hello-tab {
   color: #E1351F;
   background-color: #F9F9F9;
   border: 2px solid #E1351F;
   padding: 10px;
   font-size: 1.2rem; 
   margin: 0 5px; 
   transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
   border-radius: 3px; 
}

button#bye-tab:hover, button#hello-tab:hover {
   background-color: #E1351F;
   color: #F9F9F9;
   border-color: #E1351F;
}


/* ----------------------------------------- */
.navbar-nav a{
   color:#F9F9F9;
}

.navbar-toggler{
   background-color: #F9F9F9 !important;
}

.navbar-collapse #container-logo{
   display: flex;
   justify-content: center;
   margin-left: 5vw;
   /* margin-bottom: 5vh; */
}
.otroLs{
   width: auto;
}
.otrosL:hover {
   /* background-color: var(--main-yelllowish-color); */
   color: #FDC264 !important;
   font-weight: bold;
}
.container-fluid{
   background-color: var(--main-darkblue-color);
}
#nosotros-nav{
   border: none;
}

#container-iconos{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-right: 5vw;
}
#container-logo, #container-carrito{
   object-fit: contain;
}
#container-logo img{
   width: 3.5vw;
   height: 100%;
   border-radius: 100%;
}
#container-carrito{
   display: flex;
   align-items: center;
}
#container-carrito img{
   width: 3.5vw;
   height: 100%;
   border-radius: 100%;
   fill:#F9F9F9;
}

/*=============================BODY=============================*/

body{
   font-family: "inter";
}


.container{
   display:flex;
   flex-direction: column;
   gap: 20px;
   background-color: var(--main-yelllowish-color);
   align-items: center;
   border-radius: 10px;
   margin: 1vh 0 5vh 0;
}
#myTabContent{
   display:flex;
   flex-direction: column;
   /* gap: 20px;  */
   background-color: var(--main-yelllowish-color);
   align-items: center;
   /* border-radius: 10px;
   margin: 1vh 0 5vh 0; */
}
#hello{
   display:flex;
   flex-direction: column;
   /* gap: 20px;  */
   background-color: var(--main-yelllowish-color);
   align-items: center;
   /* border-radius: 10px; */
   margin: 1vh 0 5vh 0;
}
.formularioContainer{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 15px;
}

#edit{
  margin-top: 0;
   padding-top: 0%;
   padding: auto;
   justify-content:left;
   
}

.classForm{
   width: 100%;
   padding: 20px;
}

.imagen{
   padding: 15px;
}

.picture{
   width: 35vw;
   height: auto; 
   border-radius: 10px;
}  

.botonContainer{
   text-align: center;
   margin: none;
}

#btnEnviar, #upload_widget, #btnUpdateId, #btnFindId, #btnDelete{
   width: auto;
   background-color: var(--main-orangeish-color);
   border: none;
   
}

#btnEnviar:hover, #upload_widget:hover, #btnUpdateId:hover, #btnFindId:hover, #btnDelete:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


 /* =================================FOOTER=================================================== */
 
 .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20rem;
    background-color: #170E2D;
    color: white;
    padding: 2rem 0; /* */
    text-align: center;
    align-items: center;
 }
 
 h2 {
    font-family: "bellefair-regular";
 }
 
 .footer-title {
    font-size: 3.8rem;
 }
 
 .Redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
 }
 
 .Redes img {
    width: 1.8rem;
 }
 
 .footer-info {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 1rem;
 }
 
 .footer-infotation {
    color: var(--cream);
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 
 