:root{
    --main-bg-color: #f4f4f4;
    --main-text-color: #333;
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --main-transition: all 0.3s ease;
    --primary-font: 'Arial', sans-serif;
 }
 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border y paddingn se  */
 }
 
 
 html{
    font-size: 62.5%; /* 1 rem = 10px*/
 }
 
 
 h1{
    background-color: var(--main-link-color);
 }
 